/*面包屑区域*/
	#middle02_bread{
	height: 44px;
	line-height: 44px;
	font-size: 12px;
	background-color: #f5f5f5;
	}
	#middle02_bread a{
	color: #666;
	padding-right: 3px;
	}
	#middle02_bread a:hover{
	color: red;
	}

/*中间详细区域*/
	#middle_02{
		margin-top: -30px;
		border-top: 2px solid red;
	}
	#middle02_detail{
		padding: 30px 0 40px 0;
   		background-color: #FFF;
   		height: 560px;
   		position: relative;
	}
	.gallery_left{
		float: left;
	}
	.picFouce{
		width: 430px;
		position: relative;
		/*overflow: hidden;*/
		margin-right: 59px;
	}
	.picFouce_lun{
		overflow: hidden;
		position: relative;
		width: 430px;
		height: 430px;
		text-align: center;
	}
	.picFouce_lun>ul{
		width: 1000%;
		position: absolute;
	}
	.picFouce_lun>ul>li{
		float:left;
		margin-right: 15px;
	}
	.picFouce_xiaB{
		height: 112px;
		width: 430px;
		position: absolute;
		left: 0;
		top: 440px;
	}
	.picFouce_xiaB li{
		float: left;
		margin-right: 5px;
		opacity: 0.4;
	}
	.share{
		position: absolute;
		left: 185px;
		top: 585px;
		color: #aaa;
	}
	.share span{
		display: inline-block;
		height: 11px;
		width: 13px;
		background: url(../images/store/base.png) -131px 0 no-repeat;
	}
	/*放大镜*/
	.bigger{
		position: absolute;
		top:29px;
		left: 600px;
		overflow: hidden;
		display: none;
		height: 430px;
		width: 430px;
		z-index: 99;
		border: 1px solid #ddd;
	}
	.mask{
		position: absolute;
		top: 0;
		left: 0;
		width: 175px;
		height: 175px;
		display: none;
		z-index: 999;
		cursor: crosshair;
		background: rgba(163,148,128,0.4);
	}
	.gallery_right{
		float: left;
		width: 684px;
		height: 502px;
	}
	.title>h1{
		padding-bottom: 20px;
		font-size: 30px;
		font-weight: bold;
		color: rgb(71, 71, 71);
	}
	.title>p{
		font-size: 16px;
		color: rgb(102, 102, 102);
	}
	.gallery_rightP{
		font-size: 26px;
		color: rgb(233, 4, 4);
		padding: 20px 0px;
		margin: 34px 0px 25px;
		border-top: 1px solid rgb(239, 239, 239);
		border-bottom: 1px solid rgb(239, 239, 239);
	}
	.gallery_rightP s{
		padding-left: 20px;
		font-size: 16px;
		color: rgb(153, 153, 153);
	}
	.miaoshu{
		height: 107px;
		width: 408px;
		color: #001000;
	}
	.miaoshu p{
		height: 50px;
	}
	.pSpan1{
		color: gray;
		margin-right: 10px;
		font-size: 14px;
	}
	.pSpan2{
		color: #aaa;
		margin-left: 25px;
	}
	.miaoshu em{
		font-size: 15px;	
	}
	.ipts a{
		display: inline-block;
		width: 260px;
		height: 66px;
		line-height: 66px;
		margin-right: 16px;
		text-align: center;
		font-size: 24px;
	}
	.btn_buy{
		background-color: rgb(227, 35, 50);
		color: rgb(255, 255, 255);
	}
	.add_buy{
		width: 258px;
		height: 64px;
		line-height: 64px;
		color: rgb(234, 4, 6);
		border-width: 1px;
		border-style: solid;
		border-color: rgb(227, 35, 48);
		border-image: initial;
	}
	.add_buy>span{
		height: 25px;
		width: 34px;
		display: inline-block;
		vertical-align: -3px;
		background: url(../images/store/base.png) -183px -74px no-repeat;
	}
	/*下面区域*/
	#middle02_more{
		width: 100%;
		margin: 0 auto;
		background: #eee;
	}
	.juz{
		width: 1180px;
		margin: 0 auto;
	}
	/*猜你喜欢*/
	.more_left{
		width: 160px;
		margin-right: 20px;
		background-color: rgb(255, 255, 255);
		color: rgb(102, 102, 102);
		padding: 0px 15px 30px;
		margin-top: 50px;
		float: left;
	}
	.more_left dt{
	    height: 37px;
	    padding-top: 23px;
	    font-size: 16px;
	    border-bottom: 1px solid rgb(224, 224, 224);
	}
	.more_left dd{
	    text-align: center;
	    padding: 15px 0px 20px;
	    border-width: 1px;
	    border-style: solid;
	    border-color: rgb(255, 255, 255);
	    border-image: initial;
	}
	.more_left dd:hover{
		border: 1px solid red;
	}
	.pp{
		padding-top: 10px;
	}
	.price{
		color: red;
		font-size: 14px;
	}
	.more_pic{
		display: block;
	}
	.pinglun{
		display: none;
	}
	.more_right{
		float: left;
		margin-top: 50px;
		width: 960px;
		background: #fff;
	}
	.more_rightUl{
		overflow: hidden;
		padding: 17px 0px;
		border-bottom: 1px solid rgb(224, 224, 224);
	}
	.more_rightUl_li{
		color: red;
	}
	.more_rightUl>li{
		float: left;
		width: 200px;
		height: 25px;
		line-height: 25px;
		text-align: center;
		margin-left: -1px;
		font-size: 18px;
		color: rgb(102, 102, 102);
		border-left: 1px solid rgb(224, 224, 224);
	}
	.more_rightUl>li.active{
		color: red;
	}
	.more_rightUl>li.active>a{
		color: red;
	}
	/*.more_rightUl>li :hover{
		color: red;
	}*/
	.more_rightUl>li>a{
		color: #aaa;
	}
	.comment_top{
		padding: 38px 0 48px 0;
		height: 85px;
		color: grey;
		width: 900px;
	}
	.comment_top div{
		margin-right: 20px;
		float: left;
	}
	.comment_top_dv1{
		float: left;
		width: 133px;
		height: 62px;
		text-align: center;
		margin-left: 35px;
	}
	.num{
		color: #e90404;
		font-family: Arial;
		font-size: 24px;
	}
	.stars{
		display: inline-block;
		width: 99px;
		height: 15px;
		text-align: center;
		margin-left: 5px;
		background: url(../images/store/stars2.png) 0 -80px no-repeat;
	}
	.font{
		display: block;
		color: #aaa;
	}
	.comment{
		height: 253px;
	}
	.comment_top_dv2{
		padding-left: 50px;
		float: left;
	}
	.comment_top_dv2 p{
		margin-bottom: 10px;
	}
	.comment_top_dv2 p span{
		width: 100px;
		height: 10px;
		background: #eee;
		display: inline-block;
	}
	.comment_top_dv3{
		margin-left: 25px;
	}
	.comment_top_dv3a{
		display: inline-block;
		height: 21px;
		line-height: 21px;
		padding: 0 6px;
		margin: 0 0 8px 4px;
		background-color: #fff6f7;
		border: 1px solid #fcbfc4;
		color: #676664;
	}
	.comment_bottom{
		height: 35px;
		line-height: 35px;
		background-color: #f5f5f5;
		width: 900px;
		margin: 0px auto;
	}
	.comment_bottom a{
		margin: 0 15px;
		font-size: 14px;
		color: gray;
		font-weight: bold;
	}
	.comment_bottom a:hover{
		margin: 0 15px;
		font-size: 14px;
		color: #e90404;
		font-weight: bold;
	}
	.a1{
		color: #e90404; 
	}
	








	/*about区域*/
		.wrap{
			width: 1190px;
			/*height: 237px;*/
			margin: 0px auto;
		}
		.about_ul{
			width: 100%;
			height: 45px;
			border-bottom: 1px solid #e9e9e9;
			padding:40px 0px 20px 0px;
		}
		.about_ul>li{
			float: left;
			width: 297px;
			height: 45px;
			line-height: 45px;
			font-size: 18px;
			border-right: 1px solid #e9e9e9;
		    color: #999;
			text-align: center;
			position: relative;
		}
		.border_none{
			width: 295px !important;
			border-right: 0 !important; 
		}
		.promise>span{
			position: absolute;
			background: url(../images/store/about.png) 0 0 no-repeat;
			left: 21%;
			/*top: 50%;*/
			width:45px;
			height: 45px;
			margin-right: 15px;
		}
		.easy>span{
			position: absolute;
			background: url(../images/store/about.png) -46px 0 no-repeat;
			left: 21%;
			/*top: 50%;*/
			width:45px;
			height: 45px;
			margin-right: 15px;
		}
		.send>span{
			position: absolute;
			background: url(../images/store/about.png) -90px 0 no-repeat;
			left: 21%;
			/*top: 50%;*/
			width:45px;
			height: 45px;
			margin-right: 15px;
		}
		.border_none>span{
			position: absolute;
			background: url(../images/store/about.png) -135px 0 no-repeat;
			left: 21%;
			/*top: 50%;*/
			width:45px;
			height: 45px;
			margin-right: 15px;
		}
		.call{
			position: absolute;
			display: none;
			top: 30px;
			left: 49px;
			padding: 10px 20px;
			line-height: 22px;
			font-size: 14px;
			background-color: #FFF;
			border: 1px solid #f5f5f5;
			color: #666;
			box-shadow: 0 3px 3px #CCC;
			text-indent: 0;
			white-space: nowrap;
		}	
		.call span{
			color: #ff5353;	
		}
	/*下面导航栏区域*/
		#about{
			/*overflow: hidden;*/
			margin-bottom:40px;
		}
		.about_oDiv{
			padding-top: 40px;

		}
		.about_oDiv>dl{
			float: left;
			width: 223px;
			text-indent: 70px;
		}
		.about_oDiv dt{
			height: 35px;
			font-size: 14px;
		}
		.about_oDiv dd{
			position: relative;
			height: 24px;
		}
		.about_oDiv dd a{
			color: #999;
		}
		.about_oDiv_right{
			width: 227px;
			padding-left: 67px;
			border-left: 1px solid #e9e9e9;
			float: left;
			height: 123.4px;
		}
		.tel{
			font-size: 24px;
			font-family: Arial;
		}
		.time{
			padding: 16px 0 24px 0;
	    	font-size: 14px;
	    	color: #999;
		}
		.needLogin{
			display: block;
		    width: 154px;
		    height: 35px;
		    line-height: 35px;
		    text-align: center;
		    color: red;
		    font-size: 16px;
		    border: 1px solid #ff5353;
		    border-radius: 3px;
		}
		.needLogin>span{
			display: inline-block;
		    width: 18px;
		    height: 15px;
		    background: url(../images/store/base.png) no-repeat -188px 0;
		    vertical-align: middle;
		}

/*底部*/
	#foot{
		padding: 25px 0 30px 0;
		text-align: center;
		background: #f5f5f5;
	}
	.foot_ul{
		width: 420px;
	    margin: 0 auto;
	    zoom: 1;
	    overflow: hidden;
	}
	.foot_ul>li{
	    float: left;
	    width: 70px;
	    text-align: center;
	    height: 12px;
	    line-height: 12px;
	    border-right: 1px solid #DDD;
	    text-align: center;
	    margin-right: -1px;
	}
	.foot_ul>li>a{
		color: #666;
	}
	.foot_p{
		clear: both;
		padding: 24px 0 15px 0;
		color: #999;
	}
	.link>img{
		margin: 0 3px;
	}