/*清除样式*/
.clearfix:after{
	visibility:hidden;
	clear:both;
	display:block;
	content:".";
	height:0}

	/*头部阴影栏*/
	#top{
		padding-bottom: 30px;
	}
	.top_loginAll{
		height: 33px;
		width: 100%;
		background: #474747;
		color: #fff;
	}
	.top_login{
		width: 1190px;
		margin: 0 auto;
		color: #ccc;
		font-size: 12px;
		font-family: "Microsoft YaHei";
		height: 100%;
	}
	.top_login li{
		float: left;
	}
	.top_login_span{
		height: 100%;
		line-height: 33px;
		float: left;
		/*margin-top: 7px;*/
	}
	.top_login_ul1{
		float: left;
		height: 100%;
		margin-left: 619px;
		line-height: 33px;
	}
	.top_login_ul1>li>a{
		color: #ccc;
	}
	.top_login_ul2{
		float: left;
		line-height: 33px;
		margin-left: 50px;
	}
	.top_login_ul2>li>a{
		color: #ccc;
	}
	.top_login_box{
		float: right;
	}
	.li_center{
		margin: 0px 5px;
		color: #aaa;
	}
	.top_login_box{
		width: 133px;
		height: 33px;
		line-height: 33px;
		text-align: center;
		position: relative;
		background: #1e1e1e;
		color: #aaa;
	}
	.top_login_elf{
		height: 17px;
		width: 25px;
		position: absolute;
		left: 15px;
		top:24%;
		background: url(../images/store/base.png) -184px -57px no-repeat;
	}
	.top_login_fontCar{
		margin-left: 5px;
	}
	.top_login_font em{
		color: red;
	}
	.shop_box{
		width: 350px;
		height: 0px;
		z-index: 1;
		line-height: 0;
		background: #fafafa;
		border: 1px solid #ccc;
		position: absolute;
		/*opacity: 0;*/
		display: none;
		top:33px;
		right: 0;
	}
	.list_null{
		padding: 36px 0 37px 0;
		text-align: center;
		font-size: 14px;
		color: #666;
		z-index: 99;
	}
	/*头部导航区*/
	.top_nav{
		width: 1190px;
		margin: 0 auto;
		height: 100px;
	}
	.top_nav_a1{
		width: 183px;
		height: 100%;
		/*display: inline-block;*/
		float: left;
		background: #c20315;
		text-align: center;
		line-height: 128px;
	}
	.top_nav_a2{
		display: inline-block;
		margin-left: 40px;
		height: 100%;
		float: left;
		text-align: center;
		line-height: 100px;
	}
	.top_nav_a2>img{
		margin-top: 37px;
	}
	.top_nav_a3{
		float: left;
		/*width: 80px;*/
		height: 100%;
		line-height: 100px;
	}
	.top_nav_a3{
		position: relative;
		color: #000;
		font-size: 16px;
		margin-left: 34px;
		text-align: center;

	}
	.san{
		width: 15px;
		height: 13px;
		position: absolute;
		top: 50%;
		left: 17%;
		background: url(../images/store/base.png) -24px 0 no-repeat;
	}
	.zi{
		float: left;
		padding:8px 0 0 45px; 

	}
	.top_nav_a3>h4{
		text-align: center;
		line-height: 109px;
		margin-left: 20px;
		font-weight: lighter;
	}
	/*下拉列表*/
	.top_nav_a3Ul{
		position: absolute;
		top:102px;
		left: 0;
		width: 175px;
		font-size: 14px;
		background: #fff;
		display: none;
		height: 0px;
		box-shadow: 0 2px 3px #ccc;
		z-index: 9;
	}
	.top_nav_a3 p{
		width: 175px;
		height: 101px;
		line-height: 101px;
		font-size: 15px;
		display: inline-block;
		cursor: pointer;
	}
	.top_nav_a3Ul li{
		position: relative;
		color: #000;
		background: #fff;
	}
	.top_nav_a3Ul a{
		display: block;
		width: 155px;
		padding-right: 20px;
		height: 40px;
		line-height: 40px;
		background: #FFF;
		color: #474747;
		position: relative;
	}
	.top_nav_a3Ul a:hover em{
		background: url(../images/store/base.png) no-repeat -60px 0;
	}	
	.top_nav_a3Ul em{
		position: absolute;
		top: 15px;
		right: 10px;
		width: 6px;
		height: 10px;
		overflow: hidden;
		background: url(../images/store/base.png) no-repeat -54px 0;
	}

	.top_nav_a3Ul dl{
		overflow: hidden;
		display: none;
		height: 0;
		position: absolute;
		/*background: #000;*/
		top: 0px;
		left: 175px;
	}
	.top_nav_ul{
		float: left;
		font-weight: lighter;
		font-size: 17px;
		color: #000;
		height: 100%;
		margin-left: 5px;
		line-height: 115px;
	}
	.top_nav_ul li{
		float: left;
		margin-left: 20px;
	}
	.top_nav_ul_ipt{
		height: 100%;
		float: right;
		position: relative;
	}
	.top_nav_ipt1{
		float: left;
		width: 263px;
		height: 39px;
		margin-top: 35px;
		line-height: 39px;
		padding: 0 5px;
		border: 1px solid #CCC;
		border-right: 0;
	}
	.top_nav_ipt2{	
		width: 46px;
		height: 41px;
		margin-top: 35px;
		border: none;
		background: #e32332 url(../images/store/search.png) no-repeat center;
	}
	.top_nav_ul_spas{
		position: absolute;
		right: 53px;
		top: 50%;
		display: block;
	}
	.top_nav_ul_spas span{
		color:#5b5b5b;
		/*font-weight: lighter;*/
		height: 22px;
		width: 100%;
		padding: 5px;
		background: #eee;
	}
	/*侧边悬浮栏*/
	#shop{
		height: 100%;
		width: 35px;
		position: fixed;
		top: 0;
		right: 0;
		z-index: 99;
		background: #0a0a0a;
		text-align: center;
	}
	#align{
		position: absolute;
		top: 44%;
		left: 0px;
		width: 100%;
		text-align: center;
		margin-top: -140px;
	}
	.oDiv{
		height: 35px;
		width: 35px;
		padding-bottom: 6px;
	}
	.center{
		height: 35px;
		width: 100%;
		/*background: red;*/
		position: relative;
		margin-bottom: 10px;
	}
	.center_span{
		position: absolute;
		left: 30%;
		top: 31%;
		height: 18px;
		width: 18px;
		background: url(../images/store/base.png) -1px -235px no-repeat;
	}
	.center_P{
		width: 84px;
		height: 35px;
		opacity: 0;
		position: absolute;
		/*top: -16px;*/
		left: -128px;
		text-align: center;
		line-height: 35px;
		background: url(../images/store/base.png) -94px -90px no-repeat;
	}
	.center_P>a{
		text-decoration: none;
		color: #fff;
		font-size: 12px;
	}
	.shop_car{
		height: 141px;
		width: 100%;
		border-top: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
		margin-bottom: 10px;
		position: relative;
	}
	.shop_carP{
		padding: 10px 2px;
		height: 121px;
		color: #fff;
	}
	.shop_car_span1{
		position: absolute;
		left: 30%;
		top: 12%;
		height: 20px;
		width: 20px;
		display: inline-block;
		background: url(../images/store/base.png) -164px -17px no-repeat;
	}
	.shop_car_span2{
		margin:5px 0;
		display:inline-block;
		font-size: 12px;
		padding: 10px 7px;
		position: absolute;
		top: 25%;
		left: 15%;
	}
	.shop_car_span3{
		position: absolute;
		left: 30%;
		top: 79%;
		width: 20px;
		height: 20px;
		background: red;
		border-radius: 50%;
		text-align: center;
		line-height: 20px;
	}
	.mine_like_span{
		position: absolute;
		left: 30%;
		top: 31%;
		height: 18px;
		width: 18px;
		background: url(../images/store/base.png) -115px -236px no-repeat;
	}
	.online_span{
		position: absolute;
		left: 30%;
		top: 31%;
		height: 18px;
		width: 18px;
		background: url(../images/store/base.png) -39px -234px no-repeat;
	}
	.return_top{
		width: 35px;
		height: 35px;
		position: absolute;
		bottom: 8%;
		/*background: red;*/
	}
	.return_span{
		position: absolute;
		width: 27px;
		height: 20px;
		margin: 13px;
		left: -7px;
		top: -5px;
		background: url(../images/store/base.png) -227px -21px no-repeat;
	}
	/*about区域*/
	.wrap{
		width: 1190px;
		/*height: 237px;*/
		margin: 0px auto;
	}
	.about_ul{
		width: 100%;
		height: 45px;
		border-bottom: 1px solid #e9e9e9;
		padding:40px 0px 20px 0px;
	}
	.about_ul>li{
		float: left;
		width: 297px;
		height: 45px;
		line-height: 45px;
		font-size: 18px;
		border-right: 1px solid #e9e9e9;
		color: #999;
		text-align: center;
		position: relative;
	}
	.border_none{
		width: 295px !important;
		border-right: 0 !important; 
	}
	.promise>span{
		position: absolute;
		background: url(../images/store/about.png) 0 0 no-repeat;
		left: 21%;
		/*top: 50%;*/
		width:45px;
		height: 45px;
		margin-right: 15px;
	}
	.easy>span{
		position: absolute;
		background: url(../images/store/about.png) -46px 0 no-repeat;
		left: 21%;
		/*top: 50%;*/
		width:45px;
		height: 45px;
		margin-right: 15px;
	}
	.send>span{
		position: absolute;
		background: url(../images/store/about.png) -90px 0 no-repeat;
		left: 21%;
		/*top: 50%;*/
		width:45px;
		height: 45px;
		margin-right: 15px;
	}
	.border_none>span{
		position: absolute;
		background: url(../images/store/about.png) -135px 0 no-repeat;
		left: 21%;
		/*top: 50%;*/
		width:45px;
		height: 45px;
		margin-right: 15px;
	}
	.call{
		position: absolute;
		display: none;
		top: 30px;
		left: 49px;
		padding: 10px 20px;
		line-height: 22px;
		font-size: 14px;
		background-color: #FFF;
		border: 1px solid #f5f5f5;
		color: #666;
		box-shadow: 0 3px 3px #CCC;
		text-indent: 0;
		white-space: nowrap;
	}	
	.call span{
		color: #ff5353;	
	}
	/*下面导航栏区域*/
	#about{
		/*overflow: hidden;*/
		margin-bottom:40px;
	}
	.about_oDiv{
		padding-top: 40px;

	}
	.about_oDiv>dl{
		float: left;
		width: 223px;
		text-indent: 70px;
	}
	.about_oDiv dt{
		height: 35px;
		font-size: 14px;
	}
	.about_oDiv dd{
		position: relative;
		height: 24px;
	}
	.about_oDiv dd a{
		color: #999;
	}
	.about_oDiv_right{
		width: 227px;
		padding-left: 67px;
		border-left: 1px solid #e9e9e9;
		float: left;
		height: 123.4px;
	}
	.tel{
		font-size: 24px;
		font-family: Arial;
	}
	.time{
		padding: 16px 0 24px 0;
		font-size: 14px;
		color: #999;
	}
	.needLogin{
		display: block;
		width: 154px;
		height: 35px;
		line-height: 35px;
		text-align: center;
		color: red;
		font-size: 16px;
		border: 1px solid #ff5353;
		border-radius: 3px;
	}
	.needLogin>span{
		display: inline-block;
		width: 18px;
		height: 15px;
		background: url(../images/store/base.png) no-repeat -188px 0;
		vertical-align: middle;
	}
	/*底部*/
	#foot{
		padding: 25px 0 30px 0;
		text-align: center;
		background: #f5f5f5;
	}
	.foot_ul{
		width: 420px;
		margin: 0 auto;
		zoom: 1;
		overflow: hidden;
	}
	.foot_ul>li{
		float: left;
		width: 70px;
		text-align: center;
		height: 12px;
		line-height: 12px;
		border-right: 1px solid #DDD;
		text-align: center;
		margin-right: -1px;
	}
	.foot_ul>li>a{
		color: #666;
	}
	.foot_p{
		clear: both;
		padding: 24px 0 15px 0;
		color: #999;
	}
	.link>img{
		margin: 0 3px;
	}
