/*轮播图*/
.top_lun{
	height: 439px;
	width: 1500px;
	border-top: 2px solid red;
	/*background: url(../images/store/lun_01.jpg) no-repeat;*/
}
.top_lun_box{
	width: 1500px;
	height: 439px;
	position: relative;
	overflow: hidden;
}
.top_lun_ul{
	width: 1000%;
	position: absolute;
}
.top_lun_ul li{
	float: left;
}
/*角标*/
.square>ul{
	position: absolute;
	top: 540px;
	left: 48%;
}
.square_lis{
	background: #fff;
	width: 10px;
	height: 10px;
	float: left;
	margin-left: 5px;
	border-radius: 50%;	
}
.square_lia{
	background: red;
	width: 10px;
	height: 10px;
	float: left;
	margin-left: 5px;
	border-radius: 50%;
}
/*左右箭头*/
.focus{
	position: absolute;
	top: 355px;
	left: 56px;
	width: 1400px;
}
.focus>span{
	width: 25px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	background: rgba(0,0,0,0.4);
	color: #ccc;
}
.focus>.left{
	float: left;
	cursor:pointer;
}
.focus>.right{
	float: right;
	cursor:pointer;
}


/*公告栏*/
.top_mess{
	height: 160px;
	position: relative;
}
.top_mess_center{
	width: 1225px;
	height: 160px;
	/*margin: 0 auto;*/
	position: absolute;
	top: -15px;
	left: 10%;
}
.top_mess_center a{
	width: 386px;
	height: 160px;
	margin-left: 15px;
	float: left;
}
/*侧边悬浮栏*/
#shop{
	height: 100%;
	width: 35px;
	position: fixed;
	top: 0;
	right: 0;
	background: #0a0a0a;
	text-align: center;
}
#align{
	position: absolute;
	top: 44%;
	left: 0px;
	width: 100%;
	text-align: center;
	margin-top: -140px;
}
.oDiv{
	height: 35px;
	width: 35px;
	padding-bottom: 6px;
}
.center{
	height: 35px;
	width: 100%;
	/*background: red;*/
	position: relative;
	margin-bottom: 10px;
}
.center_span{
	position: absolute;
	left: 30%;
	top: 31%;
	height: 18px;
	width: 18px;
	background: url(../images/store/base.png) -1px -235px no-repeat;
}
.center_P{
	width: 84px;
	height: 35px;
	opacity: 0;
	position: absolute;
	/*top: -16px;*/
	left: -128px;
	text-align: center;
	line-height: 35px;
	background: url(../images/store/base.png) -94px -90px no-repeat;
}
.center_P>a{
	text-decoration: none;
	color: #fff;
	font-size: 12px;
}
.shop_car{
	height: 141px;
	width: 100%;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	margin-bottom: 10px;
	position: relative;
}
.shop_carP{
	padding: 10px 2px;
	height: 121px;
	color: #fff;
}
.shop_car_span1{
	position: absolute;
	left: 30%;
	top: 12%;
	height: 20px;
	width: 20px;
	display: inline-block;
	background: url(../images/store/base.png) -164px -17px no-repeat;
}
.shop_car_span2{
	margin:5px 0;
	display:inline-block;
	font-size: 12px;
	padding: 10px 7px;
	position: absolute;
	top: 25%;
	left: 15%;
}
.shop_car_span3{
	position: absolute;
	left: 30%;
	top: 79%;
	width: 20px;
	height: 20px;
	background: red;
	border-radius: 50%;
	text-align: center;
	line-height: 20px;
}
.mine_like_span{
	position: absolute;
	left: 30%;
	top: 31%;
	height: 18px;
	width: 18px;
	background: url(../images/store/base.png) -115px -236px no-repeat;
}
.online_span{
	position: absolute;
	left: 30%;
	top: 31%;
	height: 18px;
	width: 18px;
	background: url(../images/store/base.png) -39px -234px no-repeat;
}
.return_top{
	width: 35px;
	height: 35px;
	position: absolute;
	bottom: 8%;
	/*background: red;*/
}
.return_span{
	position: absolute;
	width: 27px;
	height: 20px;
	margin: 13px;
	left: -7px;
	top: -5px;
	background: url(../images/store/base.png) -227px -21px no-repeat;
}

/*专区*/
#middle{
	height: 769px;
	width: 100%;
	clear: both;
	background: #eee;
	/*border: 1px solid #000;*/
}
.elecenter{
	width: 1200px;
	height: auto;
	margin: 0px auto;
}
.elec_title{
	padding: 37px 0 20px 0;
	height: 36px;
}
.T_left{
	float: left;
	font-size: 33px; 
	font-weight: bolder;
}
.T_left>span{
	margin-left: 10px;
}
.T_left>img{
	vertical-align: middle;
	float: left;
}
.T_right{
	float: right;
	font-size: 16px;
	color: #666;
	margin-right: 16px;
	line-height: 36px;
}
.T_right_span2{
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(../images/store/base.png) no-repeat -90px 0;
	vertical-align: -5px;
}
.elec_content>a{
	float: left;
	width: 226px;
	height: 614px;
	margin:0 14px 15px 0;

}
.elec_content_fen{
	width: 225px;
	height: 300px;
	float: left;
	background: #fff;
	/*border: 1px solid #000;*/
	margin:0 15px 15px 0;
	position: relative;
}

.discount{
	float: left;
	overflow: hidden;
	position: absolute;
	left: 15px;
	top: 15px;
	width: 52px;
	height: 52px;
	border-radius: 50%;
	line-height: 52px;
	text-align: center;
	background: #ff5353;
	color: #fff;
}
.shu{
	font-size: 28px;
	font-weight: bolder;
	float: left;
	padding-left: 3px;
}
.like{
	/*float: right;*/
	/*overflow: hidden;*/
	position: absolute;
	right: 15px;
	top:18px;
	color: #999;
	line-height: 14px;
	font-family: Arial;

}
.like>span{
	display: inline-block;
	height: 11px;
	width: 14px;
	margin-right: 5px;
	vertical-align: middle;
	background: url(../images/store/base.png) -132px 0 no-repeat;
}
.like>span:hover{
	background: url(../images/store/base.png) -144px 0 no-repeat;
}
.elec_content{
	/*padding-top: 15px;*/
}
.elec_content_fen>img{
	clear: both;
	margin-top: 50px;
	margin-left: 35px;
}	
.wenzi{
	display: inline-block;
	font-size: 14px;
	color: #000010;
	width: 196px;
	height: 38px;
	max-height: 38px;
	margin: 15px 5px 0 15px;
}
.price{
	text-align: center;
	vertical-align: 
}
.price>span{
	font-size: 18px;
	color: #eb0303;
	font-family: Arial;
}
.price>s{
	color: #aaa;
}
.add{
	display: none;
	height: 0px;
	width:100%;
	position: absolute;
	background: rgba(0,0,0,0.8);
	bottom: 0;
	left: 0;
}
.star{
	width: 74px;
	height: 14px;
	display: inline-block;
	/*margin: 12px auto;*/
	margin-left: 65px;
	margin-top: 15px;
	background: url(../images/store/stars.png) no-repeat 0 -71px;
}
.add_car{
	width: 214px;
	height: 45px;
	display: inline-block;
	line-height: 45px;
	/*margin: 0 auto 0 -108px;*/
	text-align: center;
	margin-left: 5px;
	margin-top: 8px;
	position: relative;
	border: 1px solid #FFF;
	font-size: 16px;
	color: #FFF;
}
.add_car>span{
	height: 18px;
	width: 24px;
	position: absolute;
	left: 15%;
	top:30%;
	background: url(../images/store/base.png) -184px -38px no-repeat;
}

/*合作伙伴区域*/
#partners{
	/*padding-top: 40px;*/
	height: 168px;
}
.picScroll-left{
	/*overflow: hidden;*/
	position: relative;
}
.hd{
	padding: 0 10px 0 5px;
	overflow: hidden;
}
.hd>h1{
	font-size: 24px;
	float: left;
	color: #333;
}
.hd>ul{
	float: right;
	padding-top: 10px;
}
.li_no{
	float: left;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: #fff;
	margin-left: 5px;
	border:1px solid #999;
}
.li_active{
	background: #ccc;
	float: left;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	margin-left: 5px;
	border:1px solid #999;
}
.bd{
	/*height: 136px;*/
	padding-top: 35px;
}
.bd_lun{
	width: 1170px;
	height: 68px;
	position: relative;
	overflow: hidden;
}
.bd_ul{
	width: 1000%;
	height: 68px;
	position: absolute;
}
.bd_ul>li{
	float: left;
}


